@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('image.png') no-repeat center center/cover;
    color: #303030;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    background: rgba(255, 255, 255, 0.7); /* 투명도 조절 */
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
    padding: 20px;
    text-align: center;
}
.form header {
    font-size: 45px; /* PillEat 폰트 크기 조절 */
    font-weight: 700;
    margin-bottom: 10px;
}
.form p {
    font-size: 18px;
    margin-bottom: 20px;
}
.form .field {
    margin-bottom: 15px;
}
.form .field input {
    height: 40px;
    width: calc(100% - 20px);
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form .link {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.form .link a {
    color: #333;
    font-size: 14px;
}
.form .link a:hover {
    text-decoration: underline;
}
.form .field input[type="submit"] {
    margin-top: 10px;
    background: #333;
    color: #fff;
    cursor: pointer;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}
footer {
    margin-top: 20px;
}
footer p {
    margin-bottom: 10px;
    font-size: 12px;
}
footer .social-links a {
    margin: 0 5px;
    color: #333;
    font-size: 20px;
}
footer .social-links a:hover {
    color: #666;
}
footer a {
    color: #333;
    font-size: 12px;
}
